In [7]:
import pandas as pd
import numpy as np
from sklearn.neural_network import MLPRegressor

In [4]:
data = pd.read_csv("f1_clean.csv")
data.head()

,raceId,race,year,circuit,constructor,driver,qualifyingPos,position,teammate
0,337,Bahrain Grand Prix,2010,Bahrain International Circuit,Ferrari,ALO,3,1,OTHER
1,337,Bahrain Grand Prix,2010,Bahrain International Circuit,McLaren,HAM,4,3,OTHER
2,337,Bahrain Grand Prix,2010,Bahrain International Circuit,Red Bull,VET,1,4,OTHER
3,337,Bahrain Grand Prix,2010,Bahrain International Circuit,Williams,HUL,13,14,OTHER
4,338,Australian Grand Prix,2010,Albert Park Grand Prix Circuit,Ferrari,ALO,3,4,OTHER

## Create a model using all the data

In [6]:
# only use data from before 2023, so that we can predict on 2023 data
# prev_seasons = data.loc[data['year'] != 2023]
# prev_seasons

,raceId,race,year,circuit,constructor,driver,qualifyingPos,position,teammate
0,337,Bahrain Grand Prix,2010,Bahrain International Circuit,Ferrari,ALO,3,1,OTHER
1,337,Bahrain Grand Prix,2010,Bahrain International Circuit,McLaren,HAM,4,3,OTHER
2,337,Bahrain Grand Prix,2010,Bahrain International Circuit,Red Bull,VET,1,4,OTHER
3,337,Bahrain Grand Prix,2010,Bahrain International Circuit,Williams,HUL,13,14,OTHER
4,338,Australian Grand Prix,2010,Albert Park Grand Prix Circuit,Ferrari,ALO,3,4,OTHER
...,...,...,...,...,...,...,...,...,...
2457,1096,Abu Dhabi Grand Prix,2022,Yas Marina Circuit,AlphaTauri,GAS,17,14,TSU
2458,1096,Abu Dhabi Grand Prix,2022,Yas Marina Circuit,Alfa Romeo,BOT,18,15,ZHO
2459,1096,Abu Dhabi Grand Prix,2022,Yas Marina Circuit,Haas F1 Team,MAG,16,17,OTHER
2460,1096,Abu Dhabi Grand Prix,2022,Yas Marina Circuit,Mercedes,HAM,5,18,RUS
2461,1096,Abu Dhabi Grand Prix,2022,Yas Marina Circuit,Alpine F1 Team,ALO,10,30,OCO

In [23]:
# apply one hot encoding to race, constuctor, driver, circuit, teammate

# idea maybe turn year into the numbers of year ago like negatives?

one_hot_encoded_data = pd.get_dummies(data, columns = ['race', 'circuit', 'constructor', 'driver', 'teammate'])
one_hot_encoded_data

,raceId,year,qualifyingPos,position,race_70th Anniversary Grand Prix,race_Abu Dhabi Grand Prix,race_Australian Grand Prix,race_Austrian Grand Prix,race_Azerbaijan Grand Prix,race_Bahrain Grand Prix,...,teammate_PER,teammate_RAI,teammate_RIC,teammate_RUS,teammate_SAI,teammate_STR,teammate_TSU,teammate_VER,teammate_VET,teammate_ZHO
0,337,2010,3,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,337,2010,4,3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,337,2010,1,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,337,2010,13,14,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,338,2010,3,4,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2733,1117,2023,9,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2734,1117,2023,30,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2735,1117,2023,13,30,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2736,1117,2023,16,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2737,1117,2023,5,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [25]:
# only use the 2023 data for testing 
one_hot_training = one_hot_encoded_data.loc[one_hot_encoded_data['year'] != 2023]
one_hot_training

,raceId,year,qualifyingPos,position,race_70th Anniversary Grand Prix,race_Abu Dhabi Grand Prix,race_Australian Grand Prix,race_Austrian Grand Prix,race_Azerbaijan Grand Prix,race_Bahrain Grand Prix,...,teammate_PER,teammate_RAI,teammate_RIC,teammate_RUS,teammate_SAI,teammate_STR,teammate_TSU,teammate_VER,teammate_VET,teammate_ZHO
0,337,2010,3,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,337,2010,4,3,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,337,2010,1,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,337,2010,13,14,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,338,2010,3,4,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,1096,2022,17,14,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2458,1096,2022,18,15,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2459,1096,2022,16,17,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2460,1096,2022,5,18,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2461,1096,2022,10,30,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
X_train = one_hot_training.drop('position',axis = 1)
X_train

,raceId,year,qualifyingPos,race_70th Anniversary Grand Prix,race_Abu Dhabi Grand Prix,race_Australian Grand Prix,race_Austrian Grand Prix,race_Azerbaijan Grand Prix,race_Bahrain Grand Prix,race_Belgian Grand Prix,...,teammate_PER,teammate_RAI,teammate_RIC,teammate_RUS,teammate_SAI,teammate_STR,teammate_TSU,teammate_VER,teammate_VET,teammate_ZHO
0,337,2010,3,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,337,2010,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,337,2010,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,337,2010,13,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,338,2010,3,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2457,1096,2022,17,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2458,1096,2022,18,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2459,1096,2022,16,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2460,1096,2022,5,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2461,1096,2022,10,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
y_train = one_hot_training['position']
y_train

0        1
1        3
2        4
3       14
4        4
        ..
2457    14
2458    15
2459    17
2460    18
2461    30
Name: position, Length: 2462, dtype: int64

In [28]:
# model 
regr = MLPRegressor(random_state=1, max_iter=500).fit(X_train, y_train)

In [29]:
this_season = one_hot_encoded_data.loc[one_hot_encoded_data['year'] == 2023]
this_season

,raceId,year,qualifyingPos,position,race_70th Anniversary Grand Prix,race_Abu Dhabi Grand Prix,race_Australian Grand Prix,race_Austrian Grand Prix,race_Azerbaijan Grand Prix,race_Bahrain Grand Prix,...,teammate_PER,teammate_RAI,teammate_RIC,teammate_RUS,teammate_SAI,teammate_STR,teammate_TSU,teammate_VER,teammate_VET,teammate_ZHO
2462,1098,2023,1,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
2463,1098,2023,2,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2464,1098,2023,5,3,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2465,1098,2023,4,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2466,1098,2023,7,5,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2733,1117,2023,9,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2734,1117,2023,30,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2735,1117,2023,13,30,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2736,1117,2023,16,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2737,1117,2023,5,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [30]:
one_hot_testing = one_hot_encoded_data.loc[one_hot_encoded_data['year'] == 2023]
one_hot_testing

,raceId,year,qualifyingPos,position,race_70th Anniversary Grand Prix,race_Abu Dhabi Grand Prix,race_Australian Grand Prix,race_Austrian Grand Prix,race_Azerbaijan Grand Prix,race_Bahrain Grand Prix,...,teammate_PER,teammate_RAI,teammate_RIC,teammate_RUS,teammate_SAI,teammate_STR,teammate_TSU,teammate_VER,teammate_VET,teammate_ZHO
2462,1098,2023,1,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
2463,1098,2023,2,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2464,1098,2023,5,3,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
2465,1098,2023,4,4,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2466,1098,2023,7,5,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2733,1117,2023,9,15,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2734,1117,2023,30,17,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2735,1117,2023,13,30,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2736,1117,2023,16,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2737,1117,2023,5,30,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [31]:
X_test = one_hot_testing.drop('position',axis = 1)
X_test

,raceId,year,qualifyingPos,race_70th Anniversary Grand Prix,race_Abu Dhabi Grand Prix,race_Australian Grand Prix,race_Austrian Grand Prix,race_Azerbaijan Grand Prix,race_Bahrain Grand Prix,race_Belgian Grand Prix,...,teammate_PER,teammate_RAI,teammate_RIC,teammate_RUS,teammate_SAI,teammate_STR,teammate_TSU,teammate_VER,teammate_VET,teammate_ZHO
2462,1098,2023,1,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2463,1098,2023,2,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2464,1098,2023,5,0,0,0,0,0,1,0,...,0,0,0,0,0,1,0,0,0,0
2465,1098,2023,4,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2466,1098,2023,7,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2733,1117,2023,9,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2734,1117,2023,30,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2735,1117,2023,13,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2736,1117,2023,16,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2737,1117,2023,5,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [34]:
y_test = one_hot_testing['position']
y_test

2462     1
2463     2
2464     3
2465     4
2466     5
        ..
2733    15
2734    17
2735    30
2736    30
2737    30
Name: position, Length: 276, dtype: int64

In [38]:
regr.predict(X_test[:20])

array([ 7.60208368,  7.75972642, 10.85184397,  9.6650395 ,  7.90025389,
       11.21804633,  8.79322274, 14.83650359, 16.83007549, 15.72666548,
       16.21438309, 18.06436429, 16.09936173, 15.03702781, 12.93861643,
       12.82359616,  8.84679933,  8.33998106, 14.59775349, 10.53120974])

## Create model for each circuit

In [55]:
# get all the unique circuit values
current_circuits = data.loc[data['year'] == 2023].circuit.unique()
current_circuits

array(['Bahrain International Circuit', 'Jeddah Corniche Circuit',
       'Albert Park Grand Prix Circuit', 'Baku City Circuit',
       'Circuit de Monaco', 'Circuit de Barcelona-Catalunya',
       'Circuit Gilles Villeneuve', 'Red Bull Ring',
       'Silverstone Circuit', 'Hungaroring',
       'Circuit de Spa-Francorchamps', 'Autodromo Nazionale di Monza',
       'Marina Bay Street Circuit', 'Suzuka Circuit',
       'Circuit of the Americas', 'Autódromo Hermanos Rodríguez'],
      dtype=object)

In [62]:
for circuit in current_circuits: 
    circuit_data = data.loc[data['circuit'] == circuit]

    # one hot encode the categorical variables
    one_hot_encoded_data = pd.get_dummies(circuit_data, columns = ['race', 'circuit', 'constructor', 'driver', 'teammate'])

    # split the data into previous seasons for training and current season for testing 
    one_hot_training = one_hot_encoded_data.loc[one_hot_encoded_data['year'] != 2023]
    one_hot_testing = one_hot_encoded_data.loc[one_hot_encoded_data['year'] == 2023]
    
    # get the training and testing data
    X_train = one_hot_training.drop('position',axis = 1)
    y_train = one_hot_training['position']

    X_test = one_hot_testing.drop('position',axis = 1)
    y_test = one_hot_testing['position']

    # create the model
    regr = MLPRegressor(hidden_layer_sizes=(500,),random_state=1, max_iter=1000).fit(X_train, y_train)


    print(circuit)
    print(y_test[:20])
    print(regr.predict(X_test[:20]))

Bahrain International Circuit
2462     1
2463     2
2464     3
2465     4
2466     5
2467     6
2468     7
2469     8
2470     9
2471    10
2472    11
2473    13
2474    15
2475    16
2476    17
2477    30
2478    30
Name: position, dtype: int64
[25.07903975 25.15169919 25.22349015 24.99772907 25.24999075 25.24188272
 25.19396253 25.17496588 25.64822967 25.58165751 25.38169759 25.4402136
 25.51725534 25.29012406 25.32454966 25.16226497 24.89682962]
Jeddah Corniche Circuit
2479     1
2480     2
2481     3
2482     4
2483     5
2484     6
2485     7
2486     8
2487     9
2488    10
2489    11
2490    12
2491    13
2492    17
2493    18
2494    30
2495    30
Name: position, dtype: int64
[13.76314556 13.84518428 13.82121394 13.80334929 13.81086909 13.73589143
 13.79297731 13.91378454 13.95904225 14.02197827 13.91943824 14.01176196
 13.82336247 14.10411079 14.00128187 14.17473007 14.00806506]
Albert Park Grand Prix Circuit
2496     1
2497     2
2498     3
2499     4
2500     5
2501     6
2502     7
2503     9
2504    10
2505    11
2506    12
2507    13
2508    14
2509    17
2510    30
2511    30
2512    30
Name: position, dtype: int64
[27.29610549 27.75979587 27.72821182 28.06608696 30.8250954  28.90194733
 28.66735269 29.29321869 28.80901515 30.86698221 27.72099931 28.31739553
 28.74977118 29.20354925 27.56285028 28.19327198 27.94832828]
Baku City Circuit
2513     1
2514     2
2515     3
2516     4
2517     5
2518     6
2519     7
2520     8
2521     9
2522    10
2523    12
2524    13
2525    14
2526    15
2527    17
2528    18
2529    30
Name: position, dtype: int64
[61.4955514  61.49520072 61.52261491 61.1646846  61.31390543 61.27908155
 61.2203053  61.32609043 61.24728778 61.14525534 61.11667434 61.29557369
 61.03002176 60.92049213 60.94194275 61.08545168 61.08315463]
Circuit de Monaco
2530     1
2531     2
2532     3
2533     4
2534     5
2535     6
2536     7
2537     8
2538     9
2539    11
2540    13
2541    14
2542    15
2543    16
2544    17
2545    30
2546    30
Name: position, dtype: int64
[21.78604912 21.96815766 22.33336318 22.57201424 22.89717779 22.48121363
 22.58660033 22.03922785 23.07109394 23.60871443 24.14031458 23.41532835
 23.00200136 24.09983469 24.08739894 24.09142474 23.6100262 ]
Circuit de Barcelona-Catalunya
2547     1
2548     2
2549     3
2550     4
2551     5
2552     6
2553     7
2554     8
2555     9
2556    10
2557    11
2558    12
2559    15
2560    16
2561    17
2562    18
2563    19
Name: position, dtype: int64
[60.17581457 60.04376087 59.93626141 60.00337833 60.1462546  60.00866136
 59.96980052 59.96388399 59.93066688 59.90346526 59.84573816 59.83324671
 60.10922634 59.82097738 60.26046175 59.90583832 59.6331022 ]
Circuit Gilles Villeneuve
2564     1
2565     2
2566     3
2567     4
2568     5
2569     6
2570     7
2571     8
2572     9
2573    10
2574    12
2575    13
2576    14
2577    15
2578    16
2579    17
2580    30
Name: position, dtype: int64
[20.45848003 20.66584666 20.97977498 21.49772439 21.55158382 21.76622305
 21.53631311 21.34290871 22.44457284 22.0248659  22.1696491  21.44219674
 22.89492645 21.11633223 22.77458056 22.16832556 21.01949383]
Red Bull Ring
2581     1
2582     2
2583     3
2584     4
2585     5
2586     6
2587     7
2588     8
2589     9
2590    10
2591    11
2592    12
2593    14
2594    15
2595    18
2596    19
2597    30
Name: position, dtype: int64
[10.77128271 10.64560614 11.21746361 10.87019943 11.02009944 10.76121669
 11.18062083 11.00798139 10.95149905 11.14820813 11.20034527 11.24834967
 11.09170755 11.04464606 11.51203377 11.18064978 11.1422371 ]
Silverstone Circuit
2598     1
2599     2
2600     3
2601     5
2602     6
2603     7
2604     8
2605     9
2606    10
2607    12
2608    13
2609    14
2610    15
2611    16
2612    18
2613    30
2614    30
Name: position, dtype: int64
[25.83490798 25.88808468 26.06693464 26.07994165 26.39210862 26.22101333
 26.29707472 25.71437448 25.83468107 26.59699225 26.44130473 26.2863454
 26.56420807 26.38789164 26.24334215 26.49763531 26.21851798]
Hungaroring
2615     1
2616     2
2617     3
2618     4
2619     6
2620     7
2621     8
2622     9
2623    10
2624    11
2625    12
2626    13
2627    14
2628    15
2629    16
2630    17
2631    30
2632    30
Name: position, dtype: int64
[60.61319972 60.71292358 60.55375173 60.55915261 60.24606409 60.61349268
 60.37978907 60.4347896  60.25358288 60.33469652 60.35777768 60.24684153
 60.50783484 60.24106753 60.55402885 60.33950806 60.25000183 60.23346113]
Circuit de Spa-Francorchamps
2633     1
2634     2
2635     3
2636     4
2637     5
2638     6
2639     7
2640     8
2641     9
2642    10
2643    11
2644    12
2645    13
2646    14
2647    15
2648    16
2649    18
2650    30
Name: position, dtype: int64
[60.2494459  60.4513065  60.46705748 60.32298591 60.13049147 60.22869068
 60.36114932 59.93637963 60.06073459 60.11547649 60.03369186 59.96548055
 60.00333603 60.08545477 60.11808124 59.82322744 59.68538049 60.31785584]
Autodromo Nazionale di Monza
2651     1
2652     2
2653     3
2654     4
2655     5
2656     6
2657     7
2658     8
2659     9
2660    10
2661    14
2662    15
2663    16
2664    17
2665    18
2666    30
2667    30
Name: position, dtype: int64
[61.07819949 61.09163239 61.1040872  61.12552848 61.04334748 60.87171009
 61.04445102 61.01680846 60.85342726 60.61966958 60.7490586  60.66750332
 60.57056277 60.89290259 60.81282522 60.60510208 60.8668908 ]
Marina Bay Street Circuit
2668     1
2669     2
2670     3
2671     4
2672     5
2673     6
2674     8
2675    10
2676    11
2677    12
2678    13
2679    15
2680    16
2681    30
2682    30
2683    30
2684    30
Name: position, dtype: int64
[60.81414089 60.88364841 60.69886632 60.85238147 60.59198992 60.52246329
 60.60058801 60.84666346 60.59788054 60.15921167 60.70620652 60.67071451
 60.86905443 60.2930782  60.62655151 60.50206824 60.05561696]
Suzuka Circuit
2685     1
2686     2
2687     4
2688     5
2689     6
2690     7
2691     8
2692     9
2693    10
2694    12
2695    13
2696    14
2697    15
2698    30
2699    30
2700    30
2701    30
Name: position, dtype: int64
[61.02979858 61.11919704 61.08277701 60.84015955 60.96316214 60.90325102
 60.78125217 60.65614985 60.73725788 60.84487256 60.62903554 60.69687497
 60.84400445 60.85362058 60.58389456 61.02678708 60.52912786]
Circuit of the Americas
2702     1
2703     2
2704     3
2705     4
2706     5
2707     6
2708     7
2709     8
2710     9
2711    11
2712    12
2713    13
2714    14
2715    15
2716    30
2717    30
2718    30
2719    30
Name: position, dtype: int64
[63.43441466 63.59722943 63.48901089 63.44243321 63.47211948 63.37441992
 62.82175    63.28608377 63.26779361 62.95489547 63.15054675 63.30551812
 62.99765755 63.16859091 62.82349775 63.29012328 63.40305148 63.61810822]
Autódromo Hermanos Rodríguez
2720     1
2721     2
2722     3
2723     4
2724     5
2725     6
2726     7
2727     9
2728    10
2729    11
2730    12
2731    13
2732    14
2733    15
2734    17
2735    30
2736    30
2737    30
Name: position, dtype: int64
[8.6692669  8.92241265 8.50356032 8.58257221 9.26435113 8.97345488
 8.72391413 9.2487548  9.20100552 9.15590562 9.31776435 9.20669504
 8.96638293 8.83498157 9.59027629 9.11915478 9.12830138 8.84416856]